.theme_dark {
  background-color: #010101;
  header .header_inner_wrap .right_side_nav .hamburger_menu li,
  .service_item {
    background-color: $color-white;
  }
  .about_me .row > div.overlay_frame::after {
    background-color: $color-primary-black;
  }

  .desktop_menu,
  .video_popup_wrap {
    background-color: #0b0b0b;
  }

  header .header_inner_wrap .right_side_nav .theme_selector svg.light_mode,
  header .header_inner_wrap .logo_wrap img.light_logo {
    display: none;
  }
  header .header_inner_wrap .right_side_nav .theme_selector svg.dark_mode,
  header .header_inner_wrap .logo_wrap img.dark_logo {
    display: block;
  }
  .desktop_menu .main_header_menu li a:not(:hover) {
    -webkit-text-stroke: 2px $color-white;
  }
  @include below($tablet-lg) {
    .desktop_menu .main_header_menu li a:not(:hover),
    .desktop_menu .main_header_menu li a {
      -webkit-text-stroke: 2px $color-white;
      color: $color-white;
    }
  }
  .custom_hero_banner .background_text span,
  .custom_hero_banner .banner_iner_wrap .banner_cnt p,
  .custom_hero_banner .banner_iner_wrap .banner_cnt h1,
  .title_primary,
  .title-secondary,
  .about_me p,
  .faq_block .accordion .accordion-item .accordion-header .accordion-button,
  .faq_block .accordion .accordion-item .accordion-body,
  .testimonials .testimonials_inner_wrap .testimony_slider .t_slide p,
  footer .top_footer .left_side h2,
  footer .top_footer .left_side a,
  footer .top_footer .left_side h4,
  footer .bottom_footer p,
  footer .bottom_footer a:not(:hover),
  .desktop_menu .main_header_menu li a:not(:hover),
  .contact_me .contact_form_wrap fieldset input,
  .contact_me .contact_form_wrap fieldset textarea,
  .contact_me .contact_form_wrap fieldset input::placeholder,
  .contact_me .contact_form_wrap fieldset textarea::placeholder,
  .contact_me ul li a,
  .service_detail_block .body_copy h3,
  .service_detail_block .body_copy h1,
  .service_detail_block .body_copy h2,
  .service_detail_block .body_copy h4,
  .service_detail_block .body_copy h5,
  .service_detail_block .body_copy h6,
  .service_detail_block .body_copy li,
  .service_detail_block .body_copy p,
  .desktop_menu .social_media_menu li a:not(:hover),
  .preloader .preloader_inner_wrap h3,
  .preloader .Close_blade,
  .about_banner .right_title p,
  .hire_me_block h2,
  .hire_me_block .hire_footer h5 {
    color: $color-white;
  }
  .contact_me .social_media_listing img {
    filter: invert(1);
  }
  .faq_block .accordion .accordion-item,
  footer .bottom_footer ul li + li,
  .desktop_menu .social_media_menu li + li {
    border-color: $color-white;
  }
  .portfolio_listing_card .portfolio_description p,
  .desktop_menu h3:not(:hover) {
    color: #d5d5d5;
  }
  .desktop_menu h3:not(:hover),
  .desktop_menu h3 {
    color: #272727;
  }
  .desktop_menu h3 span:hover,
  .desktop_menu h3 a:hover {
    color: $color-white;
  }
  .desktop_menu .close_btn svg path,
  .preloader .Close_blade svg path,
  .video_popup_wrap .close_btn svg path {
    fill: $color-white;
  }
  .preloader {
    background-color: #0b0b0b;
  }
  &.header_sticky header {
    background-color: $color-primary-black;
  }
}
