footer {
  border-bottom: 10px solid $color-orange;
  .top_footer {
    padding: 65px 0;
    border-top: 1px solid #292929;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include below($tablet-sm) {
      flex-flow: column;
    }
    @include below($mobile-lg) {
      padding: 50px 0 20px;
    }
    .left_side {
      h2,
      a {
        text-decoration: none;
        @include fontFace(90px, 1.3, 600, $color-primary-black);
        font-style: italic;
        display: flex;
        align-content: center;
        margin-bottom: 7px;
        @include below($tablet-lg) {
          font-size: 60px;
        }
        @include below($mobile-lg) {
          font-size: 45px;
        }
        svg {
          width: 120px;
          margin-top: 0px;
          margin-left: -20px;
          height: auto;
          transition: 0.2s all ease-in-out;
          @include below($tablet-lg) {
            width: 90px;
          }
          @include below($mobile-lg) {
            flex: 0 0 90px;
          }
        }
        &:hover {
          @include above($tablet-lg) {
            svg {
              animation: shaker 0.8s forwards linear;
            }
            @keyframes shaker {
              0% {
                transform: rotate(-10deg) scale(1);
              }
              20% {
                transform: rotate(10deg) scale(1.2);
              }
              40% {
                transform: rotate(-10deg) scale(1.2);
              }
              60% {
                transform: rotate(10deg) scale(1);
              }
              80% {
                transform: rotate(0deg) scale(1);
              }
              100% {
                transform: rotate(0deg) scale(1);
              }
            }
          }
        }
      }
      h4 {
        @include fontFace(30px, 1.2, 500, $color-primary-black);
        max-width: 530px;
        @include below($mobile-lg) {
          font-size: 20px;
        }
      }
    }
    .cta {
      @include below($tablet-sm) {
        margin-top: 30px;
      }
    }
  }
  .bottom_footer {
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    @include below($tablet-sm) {
      padding-top: 20px;
      flex-flow: column-reverse;
    }
    p,
    a {
      @include fontFace(22px, 1.2, 500, $color-primary-black);
      margin-bottom: 0;
      @include below($mobile-lg) {
        font-size: 14px;
      }
    }
    p {
      font-size: 17px;
    }
    a {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        height: 2px;
        background-color: $color-orange;
        transition: 0.3s transform ease-in-out;
        transform: scaleX(0);
        transform-origin: right;
      }
      &:hover {
        @include above($tablet-lg) {
          color: $color-orange;
          &::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include below($tablet-sm) {
        margin-bottom: 30px;
      }
      @include below($mobile-lg) {
        max-width: 100%;
        flex-wrap: wrap;
      }
      li {
        padding: 2px 15px;
        @include below($mobile-lg) {
          padding: 0px 10px;
        }
        & + li {
          border-left: 2px solid $color-primary-black;
        }
        a {
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
