header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  left: 0;
  padding: 5px 20px;
  transition: .3s all ease-in-out;
  background-color: transparent;
  @include below($mobile-lg) {
    padding: 5px 10px;
  }
  .header_inner_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .logo_wrap {
      display: block;
      width: 133px;
      height: auto;
      img {
        // mix-blend-mode: difference;
        &.dark_logo {
          display: none;
        }
        &.light_logo {
          display: block;
        }
      }
      @include below($tablet-lg) {
        width: 180px;
      }
      @include below($tablet-sm) {
        width: 150px;
      }
      @include below($mobile-lg) {
        width: 110px;
      }
    }
    .right_side_nav {
      display: flex;
      align-items: center;
      .theme_selector {
        display: block;
        margin-right: 30px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $color-white;
        box-shadow: 0 0 4px 1px rgba($color: #000000, $alpha: 0.1);
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include below($mobile-lg) {
          margin-right: 15px;
          width: 25px;
          height: 25px;
        }
        svg {
          width: 100%;
          height: auto;
          path {
            fill: $color-orange;
          }
          &.light_mode {
            display: block;
          }
          &.dark_mode {
            display: none;
          }
        }
      }
      .hamburger_menu {
        cursor: none;
        width: 33px;
        li {
          display: block;
          width: 33px;
          height: 2px;
          border-radius: 20px;
          background-color: $color-primary-black;
          transition: 0.3s all ease-in-out;
          margin-left: auto;
          & + li {
            margin-top: 9px;
          }
          &:nth-child(2) {
            width: 28px;
          }
        }
        &:hover {
          @include above($tablet-lg) {
            li {
              &:nth-child(1),
              &:nth-child(3) {
                width: 28px;
              }
              &:nth-child(2) {
                width: 33px;
              }
            }
          }
        }
      }
    }
  }
}
.desktop_menu {
  // overflow: hidden;
  position: fixed;
  z-index: 101;
  background-color: $color-white;
  padding: 15px 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
  &::before {
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: $color-orange;
    content: "";
    transition: 0.2s all ease-in;
    transform: scaleX(0);
    transform-origin: right;
  }
  @include below($mobile-lg) {
    padding: 15px 30px;
  }
  .inner_wrapper {
    width: 100%;
  }
  .close_btn {
    width: 33px;
    height: 33px;
    cursor: none;
    position: absolute;
    top: 32px;
    right: 32px;
    transition: 0.2s all ease-in-out;
    transform: scale(0);
    display: block;
    &:hover {
      @include above($tablet-lg) {
        transform: scale(0.8);
        svg {
          path {
            // fill: $color-orange;
          }
        }
      }
    }
    @include below($mobile-lg) {
      width: 28px;
      height: 28px;
      top: 15px;
      right: 10px;
    }
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      path {
        transition: 0.2s all ease-in-out;
      }
    }
  }
  .social_media_menu {
    position: absolute;
    bottom: 20px;
    left: 100px;
    display: flex;
    align-items: center;
    transform: translateY(40px);
    opacity: 0;
    transition: 0.5s all ease-in-out;
    @include below($tablet-lg) {
      left: 50%;
    }
    li {
      padding: 2px 20px;
      @include below($mobile-lg) {
        padding: 0 10px;
      }
      & + li {
        border-left: 2px solid $color-primary-black;
      }
      a {
        @include fontFace(19px, 1.1, 600, $color-primary-black);
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          top: 100%;
          height: 2px;
          background-color: $color-orange;
          transition: 0.3s transform ease-in-out;
          transform: scaleX(0);
          transform-origin: right;
        }
        @include below($mobile-lg) {
          font-size: 12px;
        }
        &:hover {
          @include above($tablet-lg) {
            color: $color-orange;
            &::after {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }
      }
    }
  }
  .max_1200 {
    display: none;
    @include below($tablet-lg) {
      display: none;
      opacity: 0.2;
      font-size: 50vw;
      span {
        transform: translateY(550px);
      }
    }
    @include below($mobile-lg) {
      font-size: 60vw;
    }
  }
  h3 {
    .transform_text {
      display: block;
      position: relative;
      width: max-content;
      // overflow: hidden;
      cursor: none;
      &:nth-child(3)::after {
        content: '"';
        position: absolute;
        font-size: 280px;
        z-index: -1;
        bottom: -30px;
        right: -20px;
        color: $color-orange;
        transition: 0.5s all ease-in-out;
        opacity: 0;
        transform: translateY(100px);
        @include below($desktop-lg) {
          line-height: 0.7;
        }
      }
      &:nth-child(1)::after {
        content: '"';
        position: absolute;
        font-size: 280px;
        z-index: -1;
        top: -50px;
        left: -75px;
        color: $color-orange;
        transition: 0.5s all ease-in-out;
        opacity: 0;
        transform: translateY(100px);
      }
      img {
        pointer-events: none;
      }
      & > div {
        display: block;
        overflow: hidden;
      }
      &:hover {
        img {
          transform: rotate(20deg) translateY(-50%);
          opacity: 1;
          right: -40px;
        }
      }
    }
    @include fontFace(182px, 1, 900, #d4d4d4);
    font-style: italic;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s all ease-in-out;
    img {
      position: absolute;
      width: 250px;
      height: 320px;
      object-fit: cover;
      transition: 0.5s all ease-in-out;
      opacity: 0;
      transform: rotate(20deg) translateY(-50%);
      top: 50%;
      right: 100px;
      z-index: -1;
      @include below($desktop-lg) {
        width: 200px;
        height: auto;
        aspect-ratio: 14/16;
      }
    }
    @include below($desktop-lg) {
      font-size: 140px;
    }
    @include below($desktop-sm) {
      font-size: 130px;
    }
    @include below($tablet-lg) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include below($mobile-lg) {
      font-size: 60vw;
    }
    span,
    a {
      text-decoration: none;
      cursor: none;
      @include fontInherit();
      transition: 1.4s transform ease-in-out, 0.3s color ease-in-out,
        0.3s opacity ease-in-out;
      position: relative;
      display: block;
      opacity: 0;
      transform: translateY(200px);
      &:hover {
        @include above($tablet-lg) {
          color: $color-primary-black;
        }
      }
    }
  }
  .main_header_menu {
    padding-left: 100px;
    @include below($tablet-lg) {
      padding-left: 0px;
    }
    li {
      transition: 0.7s all ease-in-out;
      opacity: 0;
      transform: translateY(50px);

      & + li {
        margin-top: 25px;
        @include below($desktop-lg) {
          margin-top: 5px;
        }
      }
      a {
        display: flex;
        align-items: center;
        @include fontFace(70px, 1.3, 900, $color-primary-black);
        transition: 0.3s all ease-in-out;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-text-stroke: 2px $color-primary-black;
        position: relative;
        width: max-content;
        @include below($desktop-lg) {
          font-size: 60px;
        }
        @include below($mobile-lg) {
          font-size: 30px;
          font-weight: 600;
        }
        svg {
          opacity: 0;
          transition: 0.3s all ease-in-out;
          width: 90px;
          height: auto;
          margin-left: -15px;
          transform: translate(-30px, 30px);
          @include below($tablet-lg) {
            opacity: 1;
            transform: translate(0px, 0px);
          }
          @include below($mobile-lg) {
            width: 50px;
            margin-left: -5px;
          }
        }
        &:hover {
          @include above($tablet-lg) {
            color: transparent;
            -webkit-text-stroke-color: $color-orange;
            svg {
              opacity: 1;
              transform: translate(0px, 0px);
            }
          }
        }
      }
    }
  }
  .row {
    .col-lg-7 {
      @include below($tablet-lg) {
        display: none;
      }
    }
  }
}
.hamburger_nav_open {
  overflow: hidden;
  .max_1200 {
    @include below($tablet-lg) {
      display: block;
    }
  }
  .desktop_menu {
    transform: translateX(0);
    &::before {
      transform: scaleX(1);
    }
    .close_btn {
      transform: scale(1);
      transition-delay: 0.6s;
    }
  }
  &.showf_text {
    h3 {
      .transform_text:nth-child(3)::after,
      .transform_text:nth-child(1)::after {
        opacity: 1;
        transition-delay: 0.7s;
        transform: translateY(0);
      }
      span,
      a {
        transition-delay: 0.5s, 0s;
        transform: translateY(0) !important;
        opacity: 1;
      }
    }
  }
  &.show_desktop_nav_links {
    li {
      opacity: 1;
      transform: translateY(0px);

      @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
          transition-delay: #{$i * 0.25}s;
        }
      }
    }
    .social_media_menu {
      transform: translateY(0);
      transition-delay: 0.7s;
      opacity: 1;
      @include below($tablet-lg) {
        transform: translateY(0) translateX(-50%);
      }
    }
  }
}
.preloader {
  position: fixed;
  z-index: 200;
  background-color: #eee;
  inset: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s all ease-in-out;
  transform-origin: top;
  top: 0;
  left: 0;
  align-items: center;
  .Close_blade {
    @include fontFace(25px, 1, 500, $color-primary-black);
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    cursor: none;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.3s all ease-in-out;
    display: flex;
    align-items: center;
    svg {
      width: 45px;
      height: auto;
      // margin-left: 5px;
      path {
        fill: $color-primary-black;
      }
    }
  }
  .preloader_inner_wrap {
    width: max-content;
    h3 {
      display: flex;
      align-items: flex-end;
      transition: 0.3s all ease-in-out;
      @include fontFace(60px, 60px, 600, $color-primary-black);
      span {
        display: inline-block;
        @include fontInherit();
        transition: 1s all ease-in-out;
        &.animator {
          width: 9px;
          height: 9px;
          border-radius: 50%;
          flex: 0 0 9px;
          background-color: $color-orange;
          transform: scale(400) translateY(0px);
        }
      }
    }
  }
}
.loading {
  .Close_blade {
    opacity: 1;
    transition-delay: 3.5s;
  }
  .preloader {
    .preloader_inner_wrap {
      h3 {
        span {
          &.animator {
            animation: zoomout 0.7s forwards linear;
            @keyframes zoomout {
              0% {
                transform: scale(400) translateY(0px);
              }
              50% {
                transform: scale(1) translateY(0px);
              }
              100% {
                transform: scale(1) translateY(0px);
              }
            }
          }
          &.b,
          &.h,
          &.i,
          &.t,
          &.h {
            transition-delay: 1.5s;
            transform: scale(0);
          }
          &.a {
            transform: translateX(95px);
            transition-delay: 1.6s;
          }
          &.j {
            transition-delay: 1.6s;
            transform: translateX(0px);
          }
          &.k,
          &.m {
            transition-delay: 1.6s;
            transform: translateX(-81px);
          }
          &.animator {
            transition-delay: 1.6s;
            transform: translateX(-81px) translateY(0px);
          }
        }
      }
    }
  }
}
.page_loaded {
  .preloader {
    .Close_blade {
      opacity: 0;
      transition-delay: 0s;
    }
    transform: scaleY(0);
    transition-delay: 0.5s;
    .preloader_inner_wrap {
      h3 {
        transform: scale(0);
      }
    }
  }
}

.header_sticky {
  header {
    background-color: $color-white;
  }
}
