.custom_hero_banner {
  width: 100%;
  height: 100vh;
  position: relative;
  @include below($tablet-lg) {
    overflow: hidden;
  }
  .container-fluid {
    height: 100%;
    position: relative;
  }
  .background_text {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    @include below($tablet-lg) {
      // left: 0px;
    }
    span {
      display: block;
      @include fontFace(290px, 1, 500, #292929);
      opacity: 0.04;
      @include below($desktop-lg) {
        font-size: 230px;
      }
      @include below($desktop-sm) {
        font-size: 210px;
      }
      @include below($tablet-lg) {
        font-size: 330px;
      }
      @include below($mobile-lg) {
        font-size: 160px;
      }
      &:nth-of-type(2) {
        opacity: 0.02;
      }
    }
  }
  .banner_iner_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    .banner_cnt {
      @include below($mobile-lg) {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
    }
    .cta_wrap {
      position: absolute;
      top: 60%;
      left: 0;
      z-index: 10;
      @include below($tablet-sm) {
        top: 88%;
      }
      @include below($mobile-lg) {
        position: relative;
        display: inline-flex;
        top: 0;
        left: 0;
      }
      &:nth-of-type(2) {
        left: 100%;
        top: 90%;

        @include below($desktop-lg) {
          left: calc(100% - 200px);
          top: 100%;
        }
        @include below($mobile-lg) {
          position: relative;
          display: inline-flex;
          margin-left: 10px;
          top: 0;
          left: 0;
        }
      }
    }
    .banner_cnt {
      @include below($tablet-lg) {
        width: 100%;
      }
      h1 {
        @include fontFace(140px, 1, 500, $color-primary-black);
        font-style: italic;
        text-transform: uppercase;
        margin-bottom: 5px;
        cursor: none;
        transition: 0.2s color ease-in-out;
        @include below($desktop-lg) {
          font-size: 100px;
        }
        @include below($tablet-lg) {
          text-align: center;
          font-size: 130px;
        }
        @include below($tablet-sm) {
          font-size: 95px;
        }
        @include below($mobile-lg) {
          font-size: 50px;
        }
        &::first-line {
          color: $color-orange;
        }
        span {
          @include fontInherit();
          display: block;
          &:nth-of-type(1) {
            margin-left: 300px;
            @include below($tablet-lg) {
              margin-left: 0;
            }
          }
          &:nth-of-type(2) {
            margin-left: 600px;
            @include below($tablet-lg) {
              margin-left: 0;
            }
          }
        }
      }
      p {
        @include fontFace(30px, 1.15, 400, $color-primary-black);
        max-width: 490px;
        margin-left: auto;
        @include below($mobile-lg) {
          font-size: 18px;
        }
        span {
          @include fontInherit();
          color: $color-orange;
        }
        @include below($tablet-lg) {
          margin-right: auto;
          text-align: center;
        }
      }
    }
    .got_to_next {
      width: 178px;
      height: 178px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-orange;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      @include below($desktop-lg) {
        width: 150px;
        height: 150px;
      }
      @include below($mobile-lg) {
        width: 100px;
        height: 100px;
        bottom: 0;
      }
      svg {
        width: 55px;
        height: auto;
        fill: $color-white;
        @include below($mobile-lg) {
          width: 30px;
        }
        path {
          transition: 0.4s all ease-in-out;
          &:nth-of-type(2) {
            transform: translate(0, -50px) rotate(-90deg);
          }
        }
      }
      &:hover {
        @include above($tablet-lg) {
          svg {
            path {
              &:nth-of-type(1) {
                transform: translate(0, 160px) rotate(-90deg);
              }
              &:nth-of-type(2) {
                transform: translate(0, 80px) rotate(-90deg);
              }
            }
          }
        }
      }
    }
  }
  .blobs {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $color-orange;
    display: block;
    position: absolute;
    z-index: -1;
    top: 5%;
    left: 35%;
    @include below($mobile-lg) {
      top: 20%;
      width: 20px;
      height: 20px;
    }
    &:nth-of-type(2) {
      left: auto;
      width: 104px;
      height: 104px;
      right: 20%;
      top: 20%;
      @include below($mobile-lg) {
        right: -30px;
        width: 80px;
        height: 80px;
        top: 10%;
      }
    }
  }
}
.mf-cursor {
  color: $color-orange;
}
.mf-cursor-media {
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
}
.banner_enter {
  .mf-cursor {
    z-index: -1;
  }
  .mf-cursor-media {
    width: 400px;
    height: 400px;
    margin: -200px 0 0 -200px;
  }
}
.mf-cursor.-text {
  text-transform: uppercase;
}
.mf-cursor.-text::before {
  opacity: 1;
}
