.about_me {
  padding: 80px 0;
  .row {
    margin: 0 -60px;
    & > div {
      padding: 0 60px;
    }
  }
  p {
    @include fontFace(20px, 1.8, 300, $color-primary-black);
    span {
      @include fontInherit();
      color: $color-orange;
    }
  }
  .video_player_block {
    margin: 150px auto 0;
    width: 100%;
    .thumb_wrap {
      width: 60%;
      height: auto;
      aspect-ratio: 16/9;
      position: relative;
      margin: auto;
      img {
        position: relative;
        object-fit: cover;
        z-index: 10;
      }
      .blob {
        position: absolute;
        display: block;
        border-radius: 50%;
        background-color: $color-orange;
        z-index: -1;
        &:nth-of-type(1) {
          width: 65px;
          height: 65px;
          top: 30px;
          left: -160px;
        }
        &:nth-of-type(2) {
          width: 132px;
          height: 132px;
          top: auto;
          bottom: 100px;
          left: -110px;
        }
        &:nth-of-type(3) {
          width: 230px;
          height: 230px;
          top: 25%;
          left: auto;
          right: -200px;
        }
        &:nth-of-type(4) {
          width: 30px;
          height: 30px;
          top: auto;
          left: calc(100% + 150px);
          bottom: 30px;
        }
      }
      .play_btn {
        position: absolute;
        z-index: 11;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 87px;
        height: 87px;
        background-color: $color-white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 24px;
          margin-left: 5px;
          display: block;
          height: auto;
        }
      }
    }
  }
}
