.cta {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  @include fontFace(15px, 1, 500, $color-white);
  transition: 0.3s all ease-in-out;
  // overflow: hidden;
  position: relative;
  background-color: transparent;
  flex: 0 0 130px;
  @include below($desktop-lg) {
    width: 120px;
    height: 120px;
    flex: 0 0 120px;
  }
  @include below($mobile-lg) {
    width: 90px;
    height: 90px;
    flex: 0 0 90px;
    font-size: 12px;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    inset: 0;
    transition: 0.4s all cubic-bezier(0.47, 1.64, 0.41, 0.8);
    background-color: $color-orange;
  }
  &:hover {
    color: $color-white;
    &::after {
      @include above($tablet-lg) {
        transform: scale(1.1);
      }
    }
  }
  &.cta_md {
    width: 160px;
    height: 160px;
    font-size: 18px;
    @include below($desktop-lg) {
      width: 130px;
      height: 130px;
    }
    @include below($mobile-lg) {
      width: 90px;
      height: 90px;
      flex: 0 0 90px;
      font-size: 12px;
    }
  }
  &.gototop {
    font-size: 29px;
    width: 178px;
    height: 178px;
    @include below($mobile-lg) {
      width: 120px;
      height: 120px;
      font-size: 18px;
    }
    span {
      font-size: 45px;
      display: block;
      margin-top: 10px;
      @include below($mobile-lg) {
        font-size: 30px;
      }
    }
  }
}
