.contact_me {
  padding: 160px 0;
  @include below($tablet-sm) {
    padding: 60px 0;
  }
  .contact_us_inner {
    position: relative;
    max-width: calc(100% - 200px);
    margin: 65px auto 0;
    @include below($tablet-lg) {
      max-width: calc(100% - 150px);
    }
    @include below($tablet-sm) {
      max-width: calc(100%);
    }
    @include below($mobile-lg) {
      margin-top: 50px;
    }
    .row {
      margin: 0 -40px;
      @include below($tablet-lg) {
        // flex-flow: column-reverse;
      }
      @include below($tablet-sm) {
        margin: 0 -15px;
      }
      & > div {
        padding: 0 40px;
        @include below($tablet-sm) {
          padding: 0 15px;
        }
      }
    }
  }
  .social_media_listing {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    .title-secondary {
      width: 100%;
      display: block;
      min-width: 100%;
    }
    @include below($mobile-lg) {
      margin-top: 40px;
    }
    li {
      & + li {
        margin-left: 35px;
        @include below($mobile-lg) {
          margin-left: 25px;
        }
      }
    }
    img {
      width: 50px;
      @include below($mobile-lg) {
        width: 40px;
      }
    }
  }
  ul {
    @include below($tablet-lg) {
      margin-bottom: 40px;
    }
    li {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
      & + li {
        margin-top: 25px;
        @include below($mobile-lg) {
          margin-top: 10px;
        }
      }
      a {
        cursor: none;
        @include fontFace(22px, 1.4, 400, $color-primary-black);
        text-decoration: none;
        @include below($mobile-lg) {
          font-size: 16px;
        }
        &:hover {
          @include above($tablet-lg) {
            & + svg {
              animation: shake 0.7s forwards linear;
            }
          }
          @keyframes shake {
            0%,
            100% {
              transform: rotate(0);
            }
            20% {
              transform: rotate(-45deg);
            }
            40% {
              transform: rotate(0deg);
            }
            60% {
              transform: rotate(-45deg);
            }
            80% {
              transform: rotate(0deg);
            }
          }
        }
      }
      svg {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        transition: 0.3s all ease-in-out;
        margin-right: 15px;
        fill: $color-orange;
        path {
        }
        @include below($mobile-lg) {
          width: 40px;
          height: 40px;
          flex: 0 0 40px;
          margin-right: 10px;
        }
      }
    }
  }
  .contact_form_wrap {
    position: relative;
    .form_success_msg {
      background-color: #181818;
      position: absolute;
      transition: 0.4s all ease-in-out;
      z-index: 10;
      inset: 0;
      display: flex;
      justify-content: center;
      pointer-events: none;
      align-items: center;
      transition-delay: 0.4s;
      height: 0;
      .success_msg_wrap {
        opacity: 0;
        transition: 0.3s all ease-in-out;
        h4 {
          @include fontFace(20px, 1.3, 400, $color-white);
          text-align: center;
          max-width: 70%;
          margin: 0 auto 40px;
          span {
            @include fontInherit();
            color: $color-orange;
            font-size: 25px;
            font-weight: 500;
          }
        }
        .cta {
          margin: auto;
        }
      }
    }
    @include below($mobile-lg) {
      margin-top: 30px;
    }
    fieldset {
      padding: 0;
      width: 100%;
      & + fieldset {
        margin-top: 20px;
        @include below($mobile-lg) {
          margin-top: 15px;
        }
      }
      label {
        display: none;
      }
      input,
      textarea {
        background-color: transparent;
        resize: none;
        @include fontFace(22px, 1.5, 400, $color-primary-black);
        border: 1px solid #707070;
        border-radius: 5px;
        padding: 11px 25px;
        width: 100%;
        &::placeholder {
          @include fontFace(22px, 1.5, 400, $color-primary-black);
          @include below($mobile-lg) {
            font-size: 18px;
          }
        }
        @include below($mobile-lg) {
          font-size: 18px;
          padding: 11px 18px;
        }
      }
      .send_btn_wrap {
        position: relative;
        svg {
          position: absolute;
          z-index: 2;
          display: block;
          top: 50%;
          transform: translateY(-50%);
          right: 25px;
          width: 40px;
          height: auto;
          path {
            fill: $color-white;
          }
        }
        &:hover {
          @include above($tablet-lg) {
            svg {
              path {
                fill: $color-orange;
              }
            }
          }
        }
      }
      input[type="submit"],
      button[type="submit"] {
        background-color: $color-orange;
        color: $color-white;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px 25px;
        border: 3px solid $color-orange;
        width: 100%;
        @include fontFace(22px, 1.5, 400, $color-white);
        transition: 0.2s all ease-in-out;
        svg {
          width: 50px;
          height: auto;
          path {
            fill: $color-white;
          }
        }
        &:hover {
          @include above($tablet-lg) {
            background-color: transparent;
            color: $color-orange;
            svg {
              path {
                fill: $color-orange;
              }
            }
          }
        }
      }
      textarea {
        height: 200px;
      }
    }
  }
}

.contact_me .contact_form_wrap form.sent .form_success_msg {
  height: 100%;
  transition-delay: 0s;
  pointer-events: all;
  .success_msg_wrap {
    opacity: 1;
    transition-delay: 0.7s;
  }
}
.wpcf7-response-output {
  display: none !important;
}
